# SX1255 iq pins
NET sx1255_top_0_i_in_pin 	IOSTANDARD=LVCMOS18 | LOC  = AB9;
NET sx1255_top_0_q_in_pin 	IOSTANDARD=LVCMOS18 | LOC  = V12;

# SX1255 i2s pins
NET sx1255_top_0_i2s_ws_pin 	IOSTANDARD=LVCMOS18 | LOC  = W12;
NET sx1255_top_0_q_out_pin 	IOSTANDARD=LVCMOS18 | LOC  = W11;
NET sx1255_top_0_ck_out_pin 	IOSTANDARD=LVCMOS18 | LOC  = AA9;
NET sx1255_top_0_i_out_pin 	IOSTANDARD=LVCMOS18 | LOC  = V10;

# SX1255 SPI pins
NET sx1255_top_0_MISO_pin 	IOSTANDARD=LVCMOS18 | LOC  = W8;
NET sx1255_top_0_CS_pin 	IOSTANDARD=LVCMOS18 | LOC  = W10;
NET sx1255_top_0_SCLK_pin 	IOSTANDARD=LVCMOS18 | LOC  = V8;
NET sx1255_top_0_MOSI_pin 	IOSTANDARD=LVCMOS18 | LOC  = V9;

